@media (max-width:1600px){
    .hero{
        .hero-content{
            .inner-hero-content{
                &::before,&::after{
                    transform: scale(0.7);
                    left: -130px;
                }
                &::before{
                    top: -70px;
                }
                &::after{
                    top: 70px;
                }
                .hero-content-wrapper{
                    &::before,&::after{
                        transform: scale(0.7);
                        right: -130px;
                    }
                    &::before{
                        top: -70px;
                    }
                    &::after{
                        top: 70px;
                    }
                }
            }
        }
    }  
}
@media (max-width:1400px) {
    .contact-container .image img{
        margin-left: -100px;
    }
}
@media (max-width: 1201px) {
    .contact-container .image img{
        margin-left: -60px;
    }
    footer .footer-link a {
        font-size: 24px;
        line-height: 28px;
    }

    .hero {
        .hero-content {
            .header {
                h1 {
                    font-size: 55px;
                }
            }
        }

        .contact-bg {
            width: 46%;
            .contact-info {
                padding: 40px;
                .wrapper {
                    .head {
                        h2 {
                            font-size: 30px;
                            line-height: 30px;
                            margin-bottom: 25px;
                        }
                    }
                    .title {
                        h4 {
                            font-size: 20px;
                            line-height: 26px;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1201px) and (max-height: 750px) {
    .hero {
        .contact-info {
            padding: 110px 40px 0px !important;
            .wrapper{
                .head {
                    h2 {
                        font-size: 28px !important;
                        line-height: 28px !important;
                        margin-bottom: 12px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) and (max-height: 750px) {
    .hero {
        .contact-info {
            padding: 20px !important;
            .wrapper{
                .head {
                    h2 {
                        font-size: 28px !important;
                        line-height: 28px !important;
                        margin-bottom: 12px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 993px) {
    header{
        height: 82px;
    }
    .download-brochuer{
        display: none;
    }
    .logo-navItems{
        width: 100%;
        justify-content:space-between;
    } 
    .hero {
        .container,.contact-bg{
            width: 50%;
        }
        .hero-content {
            width: 53%;
            .header {
                h1 {
                    font-size: 28px;
                    line-height: 60px;
                }
            }
            .inner-hero-content{
                &::before,&::after{
                    transform: scale(0.7);
                    left: -130px;
                }
                &::before{
                    top: -40px;
                }
                &::after{
                    top: 40px;
                }
                .hero-content-wrapper{
                    &::before,&::after{
                        transform: scale(0.7);
                        right: -130px;
                    }
                    &::before{
                        top: -40px;
                    }
                    &::after{
                        top: 40px;
                    }
                }
            }
        }

        .contact-bg {
            .contact-info {
                padding: 20px;
                .wrapper {
                    .head {
                        h2 {
                            font-size: 28px;
                            line-height: 28px;
                            margin-bottom: 22px;
                        }
                    }
                }
            }
        }
        
    }
    footer .footer-link a {
        font-size: 20px;
        line-height: 24px;
    }
    header {
        .navbar {
            padding: 0;
            .container {
                margin: 0;
                padding: 0;
                max-width: 100%;
                width: 100%;

                .toggler,
                .quick-action {
                    &.mobile {
                        display: flex;
                    }
                }
            }
        }
    }
    header .navbar .nav {
        display: none;
    }
    header {
        .nav-mobile {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 1031;
            top: 0;
            left: 0;
            background-color: $primary;
            .container {
                max-width: 100% !important;
                width: 100% !important;
                .toggler {
                    &.mobile {
                        background-color: $primary;
                    }
                }
                .quick-action {
                    background-color: $white;
                }
            }
            .nav-menu {
                margin-top: 82px;
                ul.nav {
                    padding: 40px 15px;
                    .nav-item {
                        padding: 0;
                        .nav-link {
                            color: $secondary;
                            padding: 15px 0;
                            @include font-bold;
                            text-transform: uppercase;
                            font-size: 30px;
                            line-height: 37px;
                            &:hover {
                                color: $dark-primary;
                            }
                            img {
                                margin-left: 20px;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
            
            .quick-actions {
                position: absolute;
                bottom: 15px;
                left: 15px;
                display: block;
                .action-call,
                .action-email {
                    .title {
                        @include font-bold;
                        display: block;
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        color: $dark-primary;
                    }
                    a {
                        @include font-bold;
                        display: block;
                        font-size: 28px;
                        line-height: 34px;
                        color: $white;
                        text-decoration: none;
                        &:hover {
                            color: $dark-primary;
                        }
                    }
                }
                .action-call {
                    margin-bottom: 20px;
                }
            }
        }
    }
    footer .container .logo img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 769px) {
    .hero {
        .container{
            height: 100%;
            margin: 0px;
            max-width: 100%;
            width: 100%;
        }
        padding-top: 0;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 85px);
        .hero-content {
            width: 100%;
            .inner-hero-content{
                display: inline-block;
                &::before,&::after{
                    transform: scale(1.2);
                    left: -120px;
                }
                &::before{
                    top: -90px;
                }
                &::after{
                    top: 90px;
                }
                .hero-content-wrapper{
                    display: inline-block;
                    &::before,&::after{
                        transform: scale(1.2);
                        right: -120px;
                    }
                    &::before{
                        top: -90px;
                    }
                    &::after{
                        top: 90px;
                    }
                }
            }
            .header {
                h1 {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }

        .contact-bg {
            width: 100%;
            height: auto;
            top: initial;
            bottom: -108px;
            left: 0;
            z-index: 5;
            @include shadow;

            .contact-info {
                padding: 20px 30px;
                .wrapper {
                    .title {
                        padding-bottom: 10px;
                        h4 {
                            font-size: 18px;
                            line-height: 15px;
                        }
                    }
                    .head {
                        flex: 0 0 100%;
                        h2 {
                            font-size: 24px;
                            line-height: 25px;
                            margin-bottom: 18px;
                        }
                    }
                    .d-flex {
                        flex: 0 0 50%;
                    }
                    .social-link {
                        flex: 0 0 100%;
                    }
                }
            }
        }
    }
    section {
        &.contact-container {

            .heading {
                h1 {
                    font-size: 26px;
                    &::after {
                        width: 22px;
                        height: 22px;
                    }
                }
                &::before {
                    width: 22px;
                    height: 22px;
                }
                &::after {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
    footer .container .row {
        display: block !important;
        .col-md-4,.col-md-3,.col-md-2 {
            display: block !important;
            width: 100% !important;
        }
    }
    footer .footer-link {
        display: inline-block !important;
        margin-right: 20px;
    }
    footer .footer-header {
        margin-top: 20px !important;
    }
    footer .container .logo {
        margin-bottom: 50px;
        text-align: center;
    }
    .contact-container{
        .container{
            .row{
                .form {
                    flex-direction: column-reverse;
                    .image{
                        img{
                            transform: rotate(270deg);
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 577px) {
    .hero {
        height: auto;
        .container{
            min-height:45vh;
            height: auto;
        }
        .hero-content {
            .header {
                h1 {
                    font-size: 28px;
                    line-height: 45px;
                }
            }
            p {
                margin: 0;
            }
        }
        .contact-info {
            display: none !important;
        }
    }
    header .navbar .nav-brand picture img {
        width: 230px !important;
        height: 44px !important;
    }
    section {
        &.contact-container {
            padding: 25px 0px;
            .heading {
                margin-bottom: 10px;
            }
            .contact-form {
                padding: 30px 10px;
                .mode-form-group {
                    &.inline-block {
                        &-mail {
                            display: block;
                            width: 100%;
                        }
                        &-phone {
                            padding-left: 0;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer {
        padding: 40px 0;
    }
    footer .footer-extra-link .content {
        font-size: 18px;
    }
}
@media (max-width: 430px) {
    section {
        padding: 30px 0;
    }
    header .navbar .container .quick-action.mobile {
        display: none;
    }
    header .navbar .container {
        justify-content: start !important;
    }
}