.gallery-block {
    .wrapper {
        @extend .text-center;

        .loader {
            .spinner-border {
                width: 3rem;
                height: 3rem;
            }
        }

        .gallery {
            margin: 0 0.65rem;
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 100%;
                height: auto;
            }

            a {
                display: block;
                margin: 0px 32px 32px 0px;
                overflow: hidden;
                height: 489px;
                width: 584px;
                border: 2px solid #E2A652;
                border-radius: 20px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.8s transform;
                }

                &:hover {
                    img {
                        transform: scale(1.08);
                    }
                }
            }
        }
    }
}