.webelieve,.ourgallery{
    .container{
        .title{
            background-color: $gray;
            display: inline-flex;
            width: 342px;
            height: 60px;
            padding-left: 26px;
            position: relative;
            align-items: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000 !important;
            &::after{
                position: absolute;
                content: "";
                height: 100%;
                width: 10px;
                background-color: $dark-primary;    
                left: 0;
                top: 0; 
            }
        }
    }
}  
    
.aboutus{
    .container{
        .title{
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
        }
        .content{
            align-items: center;
            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000 !important;
            }
        }
    }
}

.unit-plan-type1{
    position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: $gray;
            width: 650px;
            height: 166px;
            top: 20px;
            left: 0;
            z-index: -1;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url('../../images/background/common.jpg');
            display: block;
            height: 370px;
            width: 400px;
            bottom: 120px;
            right: -100px;
        }
    
}
.unit-plan-type2{
    position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: $gray;
            height: 166px;
            width: 650px;
            top: 20px;
            right: 0;
            z-index: -1;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url(../../images/background/common.jpg);
            display: block;
            height: 367px;
            width: 400px;
            bottom: 210px;
            left: -122px;
            transform: rotate(120deg);
        }
        .title-aminity{
            text-align: right
        }
}
section {
    .title {
        @include font-bold;
        @extend .text-uppercase;
        @extend .text-secondary;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 30px;
        span {
            color: $primary;
        }
    }
    .content {
        .col-md-4 {
            @extend .d-flex;
            @extend .justify-content-start;
            @extend .align-items-start;
            img {
                margin-right: 15px;
                width: 52px !important;
                height: 58px !important;
            }
            .item {
                @extend .d-flex;
                @extend .justify-content-start;
                @extend .flex-column;
                h4 {
                    @include font-bold;
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 5px;
                    color: #000 !important;
                    font-weight: 700;
                }
                p {
                    @include font-normal;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #000 !important;
                }
            }
        }
        .col-md-7 {
            @extend .d-flex;
            @extend .justify-content-evenly;
            @extend .align-items-center;
            position: relative;
            .about-harmain{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    background-image: url('../../images/icons/frame4.svg');
                    display: block;
                    height: 84px;
                    width: 141px;
                    left: -182px;
                    top: 0;
                }
                &::before{  
                    position: absolute;
                    content: '';
                    background-image: url('../../images/icons/frame2.svg');
                    display: block;
                    height: 84px;
                    width: 141px;
                    left: -182px;
                    bottom: 0;
                }
            }
            picture {
                display: block;
                &::after{
                    position: absolute;
                    content: '';
                    background-image: url('../../images/icons/frame3.svg');
                    display: block;
                    height: 84px;
                    width: 141px;
                    right: -182px;
                    top: 0;
                }
                &::before{  
                    position: absolute;
                    content: '';
                    background-image: url('../../images/icons/frame1.svg');
                    display: block;
                    height: 84px;
                    width: 141px;
                    right: -182px;
                    bottom: 0;
                }
                position: relative;
                img {
                    width: 491px !important;
                    height: 491px !important;
                    max-width: 100%;
                    border-radius: 20px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    object-fit: cover;
                }
            }
        }
        .col-md-6 {
            picture {
                img {
                    width: 660px !important;
                    height: auto;
                }
            }
        }

        .content-list {
            padding: 0 40px;
            position: relative;
            display: block;
            .plan-status {
                @include font-bold;
                @extend .text-uppercase;
                margin-bottom: 12px;
                font-size: 20px;
                line-height: 24px;
                color: $gray-500;
            }
            .plan-total-grp {
                &:first-child {
                    margin-top: 20px;
                }
            }
            .plan-total-key {
                @include font-normal;
                @extend .text-secondary;
                font-size: 16px;
                line-height: 19px;
            }
            .plan-total-val {
                @include font-bold;
                @extend .text-secondary;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 10px;
            }
            .plan-action-mobile {
                display: none;
            }
            .title-aminity {
                @include font-normal;
                @extend .text-secondary;
                font-size: 18px;
                line-height: 22px;
                margin: 10px 0 30px;
                font-weight: 300;
            }
            .aminity-list {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;
                justify-content: space-between;
                .left-side-aminity{
                    .items{
                        &:nth-child(even){
                            div{
                                background-color:#c9c8c8;
                            }
                        }
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        div{
                            background-color:#ede9e9;
                        }
                        .desc{
                            width: 224px;
                            padding: 10px 30px 10px 15px;
                            border-radius: 20px;
                            text-align: right;
                            span{
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 15px;
                            }
                        }
                        .img{
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: -25px;    
                        }
                    }
                }
                .right-side-aminity{
                    .items{
                        &:nth-child(odd){
                            div{
                                background-color:#c9c8c8;
                            }
                        }
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        div{
                            background-color:#ede9e9;
                        }
                        .desc{
                            width: 224px;
                            padding: 10px 15px 10px 30px;
                            border-radius: 20px;
                            text-align: left;
                            span{
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 15px;
                            }
                        }
                        .img{
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: -25px;    
                            z-index: 1;
                        }
                    }
                }
            }
            .title-inquiry {
                @include font-normal;
                @extend .text-secondary;
                font-size: 18px;
                line-height: 22px;
                margin: 30px 0 20px;
                font-weight: 400;
            }
            .title-callus,
            .title-emailus {
                @include font-bold;
                @extend .text-secondary;
                @extend .text-uppercase;
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                margin-bottom: 6px;
            }
            .title-callus-action,
            .title-emailus-action {
                @include font-bold;
                @extend .text-secondary;
                font-size: 24px;
                line-height: 29px;
                font-weight: 700;
                a {
                    text-decoration: none;
                    @extend .text-secondary;
                    &:hover {
                        @extend .text-primary;
                    }
                }
            }
            .title-callus-action {
                margin-bottom: 20px;
            }

            .view-detail-action {
                position: absolute;
                top: 0;
                right: 0;
                @include font-bold;
                @extend .text-secondary;
                @extend .text-uppercase;
                font-size: 16px;
                line-height: 19px;
                text-decoration: none;
                &:hover {
                    @extend .text-primary;
                }
            }
        }
    }

    &.bhk-2 {
        background-color: $gray-100;
    }
    &.bhk-3 {
        .container{
            .unit-plan-heading{
                margin-bottom: 80px;
                .unit-plan{
                    text-align: center;
                    h2{
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 39px;
                        margin-bottom: 6px !important;
                    }
                    .block{
                        font-weight: 900;
                        font-size: 16px;
                        line-height: 19px
                    }
                }
                .under-contruction{
                    h2{
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 29px;
                        margin-bottom: 16px !important;
                    }
                    .flats.title{
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        text-transform: none !important;
                        span{
                            font-weight: 700;
                        }
                    }
                }
                .view-detail{
                    a{
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 29px;
                        text-decoration: none;
                        color: $dark-primary !important;
                        svg{
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
        .plan-status {
            color: #000 !important;
        }
    }
    &.ourgallery {
        .owl-carousel {
            .item-container {
                width: 550px;
                height: 550px;
                max-width: 100%;
                height: auto;
                picture {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


.mfp-zoom-out-cur {
    .mfp-bg {
        background-color: #fff;
        opacity: 0.7;
    }
    .mfp-figure:after {
        display: none;
    }
}

button.mfp-close {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10060;
    margin-top: -14px;
    margin-right: -14px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-family: Arial,Baskerville,monospace;
    color: #000;
    font-size: 3rem;
}