footer {
    div{
        .footer-info{
            .project-reraNumber{
                .projectBy{
                    margin-right: 24px;
                }
            }
            .social-container{
                display: flex;
                .social-link:not(:last-child){
                    margin-right: 8px;
                }
            }
        }
    }
    @extend .text-white;
    padding: 70px 0;
    background-color: $body-color;
    .brand-light {
        display: block;
        picture {
            img {
                width: 295px !important;
                height: 56px !important;
            }
        }
        p {
            @include font-normal;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            font-size: 16px;
            line-height: 19px;
        }
    }
    .footer-header {
        @include font-normal;
        @extend .text-uppercase;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        font-weight: 900;
    }
    .footer-link {
        display: block;
        margin-bottom: 20px;
        span {
            display: block;
            @include font-bold;
            @extend .text-uppercase;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            margin-bottom: 6px;
        }
        a {
            @include font-bold;
            @extend .text-white;
            font-size: 24px;
            line-height: 29px;
            text-decoration: none;
            &:hover {
                color: $primary !important;
            }
        }
        .social-link {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                border-radius: 50%;
            }
            &:hover {
                svg {
                    fill: white;
                    path {
                        fill: $primary;
                    }
                }
            }
        }

        .footer-address {
            @include font-bold;
            @extend .text-white;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
    }
    .footer-extra-link {
        .title {
            @include font-normal;
            @extend .text-uppercase;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 6px;
            font-weight: 700;
        }
        .content {
            @include font-bold;
            @extend .text-uppercase;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
            font-weight: 700;
        }
    }
}
.copyrights {
    padding: 12px;
    background-color: #0A0A0A;
    color: $white;
    .copyright-text {
        position: relative;
        @include font-normal;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        span {
            font-size: 15px;
            font-family: sans-serif;
        }
        a {
            @extend .text-white;
            text-decoration: none;
            &:hover {
                @extend .text-primary;
            }
        }
    }
}

@media (max-width:1200px) {
    footer{
        .container{
            .row{
                .logo{
                    img{
                        width: 160px;
                    }
                }
            }
        }
    }
}
@media (max-width:992px) {  
    footer{
        .container{
            .row{
                .logo{
                    img{
                        width: 140px;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {  
    footer{
        .container{
            .row{
                .logo{
                    img{
                        width: 200px;
                    }
                }
                .social-container{
                    display: flex !important;
                }
            }
        }
    }
}
@media (max-width:576px) {  
    footer{
        .container{
            .row{
                .logo{
                    img{
                        width: 150px;
                    }
                }
                .footer-info{
                    .row{
                        div{
                            .social-container{
                                display: flex !important;
                            }
                            .footer-header{
                                font-size: 20px;
                            }
                            .footer-link{
                                span{
                                    font-size: 18px;
                                }
                                a{
                                    font-size: 16px;
                                }
                                .footer-address{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .project-reraNumber{
                        div{
                            .footer-extra-link{
                                .title{
                                    font-size: 18px;
                                }
                                .content{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    section .content .content-list .title-aminity{
        margin: 20px 0 10px !important;
    }
    .unit-plan-type2::before{
        bottom: 130px !important;
    }
}