.hero {
    // position: relative;
    // display: flex;
    // padding-top: 108px;
    // padding-bottom: 0;
    // min-height: 70vh;
    // justify-content: flex-start;
    // align-items: center;
    // @extend .bg-dark;
    // @extend .text-white;
    // background-image: url('../../images/background/hero.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // overflow: initial;
    height: 440px;
    display: flex;
    padding: 0px ;
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(44, 46, 53, 0.75);
    }
    .container{
        background-image: url('../../images/background/hero.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content {
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url('../../images/icons/frame4.svg');
            background-size: 100% 100%;
            height: 100%;
            width: 150px;
            left: -222px;
            top: -90px;
        }
        &::after{
            position: absolute;
            content: "";
            background-image: url('../../images/icons/frame2.svg');
            background-size: 100% 100%;
            height: 100%;
            width: 150px;
            left: -222px;
            top: 90px;
        }
        .inner-hero-content{
            position: relative;
            display: inline-block;
            &::before{
                position: absolute;
                content: "";
                background-image: url('../../images/icons/frame3.svg');
                background-size: 100% 100%;
                height: 100%;
                width: 150px;
                right: -222px;
                top: -90px;
            }
            &::after{
                position: absolute;
                content: "";
                background-image: url('../../images/icons/frame1.svg');
                background-size: 100% 100%;
                height: 100%;
                width: 150px;
                right: -222px;
                top: 90px;
            }
        }
        .header {
            h1 {
                font-size: 60px;
                line-height: 70px;
                @include font-bold;
                @extend .text-uppercase;
                position: relative;
                font-weight: 900;
                font-size: 64px;
                line-height: 77px;
                margin: 0;
                padding: 0;
                color: $primary;  
            }
        }
    }

    .contact-bg {
        // visibility: hidden;
        // width: 40%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // right:0;
        background-color: $primary;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .contact-info {
            padding: 80px 50px 0px;
            .wrapper {
                > div {
                    position: relative;
                }
                .contact-overlay {
                    position: absolute;
                    width: 100%;
                    background-color: $primary;
                    top: 0;
                    left: 0;
                }
                .head {
                    h2 {
                        font-size: 35px;
                        line-height: 40px;
                        @extend .text-uppercase;
                        margin-bottom: 30px;
                        color: $body-color;
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
                .icon {
                    margin-top: 8px;
                }
                .title {
                    margin-left: 20px;
                    padding-bottom: 15px;
                    h4 {
                        // display: inline-block;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: $body-color;
                    }
                    p {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                .action {
                    .title {
                        a {
                            text-decoration: none;
                            display: block;
                            color: white;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                .social-link {
                    display: flex;
                    align-items: center;
                    .icon{
                        width: 30px;
                    }
                    .social-media{
                        margin-left: 20px;
                        display: flex;
                        align-items: center;
                    }
                    a {
                        height: 50px;
                        width: 50px;
                        background: white;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 18px;
                        &:hover {
                            svg {
                                path {
                                    fill: $dark-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}