.hero {
    background-image: url(../../images/background/hero.png);
    @extend .text-white;
    @extend .bg-dark;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px !important;
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(44, 46, 53, 0.75);
    }
    .hero-image {
        max-width: 600px;
        visibility: hidden;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .hero-content {
        display: block;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        position: relative;
        .inner-hero-content{
            &::before{
                position: absolute;
                content: "";
                background-image: url('../../images/icons/frame3.svg');
                background-size: 100% 100%;
                height: 100%;
                width: 150px;
                right: -222px;
                top: -90px;
            }
            &::after{
                position: absolute;
                content: "";
                background-image: url('../../images/icons/frame1.svg');
                background-size: 100% 100%;
                height: 100%;
                width: 150px;
                right: -222px;
                top: 90px;
            }
            .hero-content-wrapper{
                &::before{
                    position: absolute;
                    content: "";
                    background-image: url('../../images/icons/frame4.svg');
                    background-size: 100% 100%;
                    height: 100%;
                    width: 150px;
                    left: -222px;
                    top: -90px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    background-image: url('../../images/icons/frame2.svg');
                    background-size: 100% 100%;
                    height: 100%;
                    width: 150px;
                    left: -222px;
                    top: 90px;
                }
            }
        }
        h1 {
            display: inline-block;
            @include font-bold;
            @extend .text-uppercase;
            font-weight: 900;
            font-size: 64px;
            line-height: 77px;
            margin: 0;
            padding: 0;
            color: $primary;  
        }
        p {
            @include font-normal;
            margin: 0;
            padding: 0;
            font-size: 36px;
            line-height: 41px;
            text-transform: uppercase;
        }
        h1, h2 {
            span {
                display: inline-block;
                @include font-bold;
                font-size: 80px;
                line-height: 85px;
                &.small {
                    @include font-normal;
                    font-size: 40px;
                    line-height: 48px;
                }
                &.smaller {
                    @include font-normal;
                    font-size: 30px;
                    line-height: 34px;
                }
            }
        }

        .flat-detail {
            display: flex;
            align-items: center;
            margin-top: 40px;

            .flats {
                margin-right: 30px;
            }

            .flats, .sq-ft {
                h2 {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .talk-action {
            padding: 110px 0 0;
            @extend .d-flex;
            @extend .align-items-center;

            .btn-talk {
                @extend .btn;
                @extend .btn-outline-primary;
                @extend .bg-white;
                @extend .text-uppercase;
                @include font-bold;
                @include radius(30px);
                display: inline-block;
                padding: 20px 55px;
                line-height: 18px;
                border-color: transparent;
                &:hover {
                    @extend .bg-primary;
                    @extend .text-white;
                }
            }
            .talk-view {
                display: inline-block;
                margin-left: 20px;
                span {
                    display: block;
                    @extend .text-uppercase;
                    @include font-bold;
                }
                a {
                    text-decoration: none;
                    @extend .text-white;
                    @include font-bold;
                    font-size: 28px;
                    line-height: 37px;
                    &:hover {
                        @extend .text-primary;
                    }
                }
            }
        }    
    }
}